#root {
  padding-bottom: 20px;
}

.navbar-nav {
  display: flex;
  column-gap: 10px;
}

.navbar-brand {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px !important;
}

.navButton {
  background-color: rgb(137, 167, 87);
  align-items: center;
  justify-content: center;
  min-width: 100px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0, 0.65);
}

#basic-nav-dropdown {
  background-color: rgb(137, 167, 87);
  border-radius: 10px;
  min-width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartWidgetContainer {
  display: flex;
  position: relative;
  border: 2px solid rgb(137, 167, 87);
  padding: 10px;
  border-radius: 20px;
}

.cartWidgetCount {
  color: white;
  position: absolute;
  top: -5px;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ItemListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemListHeader {
  padding: 10px;
  text-decoration: underline;
}

.ItemListBody {
  padding: 10px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  flex-wrap: wrap;
}

.itemCategory {
  background-color: blueviolet;
  color: white;
  padding: 5px;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  height: 25px;
  border-radius: 10px;
  margin: 10px 0px;
}

.itemCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
}

.itemImage {
  background-color: green;
  width: 100%;
  height: 55%;
}

.itemCardBody{
  background-color: rgb(137, 167, 87);
  width: 100%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemTitle{
  font-size: 25px;
}

.itemDescription{
  font-size: 17px;
}

.itemAmountSelect {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.itemAmountSelect button {
  width: 30%;
}

.itemAmountAdd a {
  width: 100%;
}

.itemDetailCard {
  width: 500px;
  margin: 20px auto;
  overflow: hidden;
  border: none !important;
  border-radius: 20px !important;
}

.itemDetailBody {
  background-color: rgb(137, 167, 87);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
  position: relative;
}

.itemDetailPrice {
  display: flex;
  background-color: rgb(60, 60, 212);
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 15px;
  border-radius: 50%;
  color: white;
}

.notFoundImage {
  width: 700px;
  margin: 20px auto;
  border-radius: 20px;
}

.cartList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: rgb(0, 0, 0, 0.65);
}

.cartSummary {
  background-color: rgb(137, 167, 87);
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.cartButtons {
  margin: auto;
  display: flex;
  column-gap: 10px;
}

.cartItem {
  background-color: rgb(137, 167, 87);
  padding: 10px;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}